@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&display=swap');
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

header{
    background-color: black;
    /* background-image: url(Images/squaredmathPaper.svg); */
    background-repeat: no-repeat;
    background-size: 100%;
    height:100px;
    width:100%;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.navigation-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

nav{
    display: flex;
    flex-direction: row;
}

.mainA{
    text-decoration: none;
    font-family: "Commissioner", sans-serif;
    color: white;
    padding-left: 100px;
}

.img1{
    width:80px;
    height:60px;
    border-radius: 50%;
}

.logo{
    display: flex;
    flex-direction: row;
    gap:20px;
}

.h3-1{
    color:white;
    font-family: "Codystar", sans-serif;
    padding-top: 10px;
}

.h3-1 span{
    color:rgb(138, 187, 138)
}

.button-div{
    padding-left: 100px;
}

.btn1{
    padding: 15px;
    width:150px;
    border-radius: 30px;
    border:none;
    font-family: "Commissioner", sans-serif;
    font-weight: 700;
    color:white;
    background-color: #479d52;
}

.btn1:hover{
    background-color: transparent;
    border:2px solid #479d52;
    transform:translateY(-5px);
    transition: 0.5s;
}


body{
    background-color: #3F7D58;
}

.info-div{
    padding-top: 100px;
    padding-left: 100px;
    margin-bottom: 100px;
}

.h1-1{
    font-family: "Commissioner", sans-serif;
    margin-bottom: 20px;
}

.paragraph1{
    font-family: "Commissioner", sans-serif;
    margin-bottom: 40px;
}

.paragraph1 span{
    font-weight: 700;
    font-size: 17px;
}

.four-div{
    display: flex;
    flex-direction: column;
    gap:50px;
}

.firstHalf-div{
    display: flex;
    flex-direction: row;
    gap:50px
}

.secondHalf-div{
    display: flex;
    flex-direction: row;
    gap:50px
}

.img2{
    width:80px;
    height:80px
}

.coloredInfo{
    display: flex;
    flex-direction: row;
    background-color:#063532;
    width:310px;
    height:130px;
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 20px;
}

.coloredInfo:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}

.paragraph2 span{
    color:white;
    font-weight: 600;
    font-family: "Commissioner", sans-serif;
}

.paragraph2{
    padding-top: 10px;
    padding-left: 20px;
    font-family: "Commissioner", sans-serif;
    color:rgb(207, 207, 207)
}

.secondColoredInfo{
    display: flex;
    flex-direction: row;
    background-color:#063532;
    width:310px;
    height:130px;
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 30px;
}

.secondColoredInfo:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}

.web-development{
    display: flex;
    flex-direction: row;
}

.softwareEngenneering{
    display: flex;
    flex-direction: row;
    background-color:#063532;
    width:310px;
    height:130px;
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 30px;
}

.softwareEngenneering:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}

.ai-img{
    display: flex;
    flex-direction: row;
    background-color:#063532;
    width:310px;
    height:130px;
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 30px;
}

.ai-img:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}

.img3{
    width:700px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.main-info{
    display: flex;
    flex-direction: row;
    gap:100px
}

.image{
    padding-top: 100px;
}

.video{
    padding-top: 170px;
}

.info{
    background-color: #063532;
    width:100%;
    height:1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}


.paragraph3{
    font-family: "Commissioner", sans-serif;
    margin-bottom: 20px;
    color:rgb(219, 219, 219);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}

.paragraph3 .span1{
    font-family: "Codystar", sans-serif;
    color:rgb(136, 225, 136);
    padding-left: 20px;
    padding-right: 20px;
}

.paragraph3 .span2{
    font-family: "Codystar", sans-serif;
    color:rgb(255, 255, 255);
    font-weight: 500;
}

.paragraph4{
    font-family: "Commissioner", sans-serif;
    color:rgb(219, 219, 219);
    text-align: center;
}

.connectFromAnywhereImg{
    padding-left: 50px;
}

input{
    border:none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    font-family: "Commissioner", sans-serif;
    color:white;
    width:500px;
}

.miniInfo2{
    display: flex;
    flex-direction: row;
    gap:70px
}

.check1{
    display: flex;
    flex-direction: row;
    gap:30px
}

.check{
    width:40px;
}

.h1-2{
    font-family: "Commissioner", sans-serif;
    color:#e8e8e6;
    margin-bottom: 50px;
}

.paragraph5{
    color:#e8e8e6;
    font-family: "Commissioner", sans-serif;
    font-size: 20px;
    margin-bottom: 100px;
}

.h2-1{
    color:#e8e8e6;
    font-family: "Commissioner", sans-serif;
    margin-bottom: 50px;
}

.paragraph6 span{
    color:#e8e8e6;
    font-family: "Commissioner", sans-serif;
    font-weight: 700;
    font-size: 17px;
}

.paragraph6{
    color:#e8e8e6;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    margin-bottom: 2;
}

.checkMain{
    display: flex;
    flex-direction: column;
    gap:50px
}

.asterisk{
    width:10px
}

form{
    display: flex;
    flex-direction: column;
    gap:30px;
}

label{
    color:#e1e1e1;
    font-family: "Roboto", sans-serif;
}

#i5 {
    width: 500px;
    height: 100px;
    resize: both;
    overflow: auto;
    word-wrap: break-word;
    border:none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    font-family: "Commissioner", sans-serif;
    color:white
}

.btn2{
    padding: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color:#e1e1e1;
    background-color: #479d52;
    border:none;
    border-radius: 5px;
}

.miniInfo{
    margin-bottom: 30px;
}

.img4{
    width:50px;
}

.aboutGoa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.firstRow{
    display: flex;
    flex-direction: row;
    gap:60px;
}

.secondRow{
    display: flex;
    flex-direction: row;
    gap:60px;
}


.thirdRow{
    display: flex;
    flex-direction: row;
    gap:70px;
}

.image{
    display: flex;
    flex-direction: row;
    gap:15px;
    margin-bottom: 20px;
}

.h3-2{
    font-family: "Commissioner", sans-serif;
    color:#e1e1e1;
}

.paragraph7{
    font-family: "Commissioner", sans-serif;
    color:#e1e1e1;
}

.infoInImage{
    background-color: #063532;
    height:700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.infoImage{
    display: flex;
    flex-direction: row;
    padding-top: 70px;
    gap:50px;
    margin-bottom: 70px;
}

.h1-3{
    font-family: "Commissioner", sans-serif;
    color:white;
}

.paragraph8{
    font-family: "Commissioner", sans-serif;
    color:white;
    font-size: 17px;
}

.three{
    display: flex;
    flex-direction: row;
    gap:50px;
    margin-bottom: 50px;
}

.h1-5{
    font-size: 60px;
    color:white;
    font-family: "Roboto", sans-serif;
    border-right: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.h1-4{
    font-size: 60px;
    color:white;
    font-family: "Roboto", sans-serif;
    border-right: 1px solid white;
    border-left: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.paragraph9{
    color:white;
    font-family: "Roboto", sans-serif;
}

.goalImg{
    width:200px;
}

.questions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:100px;
    margin-bottom: 50px;
}

.h1-6{
    color:white;
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
}

.paragraph10{
    color:#e8e8e6;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    margin-bottom: 50px;
}

.btn3{
    border:none;
    width:300px;
    padding:15px;
    color:white;
    font-weight: 700;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    background-color: #479d52;
}


.footerDiv{
    background-color: black;
    height:400px;
    padding-top: 100px;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
}

.img5{
    width:100px;
    border-radius: 50%;
}

.logo-Div{
    display: flex;
    flex-direction: column;
    gap:50px
}

.email-div{
    padding-left: 20px;
}

.paragraph11{
    color:white;
    font-family: "Roboto", sans-serif;
}

.instagram,.facebook{
    width:70px;
    padding-right: 50px;
}

.icons{
    padding-left: 20px;
}

.paragraph12{
    color:white;
    font-family: "Roboto", sans-serif;
    padding-left: 100px;
    margin-bottom: 20px;
}

.programs{
    display: flex;
    flex-direction: column;
    gap:20px
}

.location{
    display: flex;
    flex-direction: column;
    gap:20px
}

.aboutUs{
    display: flex;
    flex-direction: column;
    gap:20px
}

.copyright{
    color:white;
    font-family: "Roboto", sans-serif;
    padding-left: 100px;
    margin-bottom: 20px;
}

.a1{
    text-decoration: none;
    font-family: "Commissioner", sans-serif;
    color: white;
    padding-left: 100px;
}

.a2{
    text-decoration: none;
}